<h1>New Tag Association</h1>

<form action="/create_tag_association">
  <div>
    <label for="gif_id">gif_id</label><br />
    <input id="gif_id" name="gif_id" type="text" />
  </div>
  <div>
    <label for="tag_id">tag_id</label><br />
    <input id="tag_id" name="tag_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

