<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <img src="<%= @gif.image_url %>">
      <div>
        <a href="#">Edit</a> |
        <a href="/gifs/<%= @gif.id %>/destroy">Destroy</a> |
        <a href="#">Back to index</a>
      </div>
      <div class="comments">
        <h2>Comments</h2>
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://ecx.images-amazon.com/images/I/41WSuOQnn9L._SL500_SS100_.jpg" alt="batman-image">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Batman</h4>
            <div>Wow, look at him go.</div>
          </div>
        </div> 
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://www.realclearpolitics.com/articles/topicons/ann_coulter.jpg" alt="ann-coulter-image">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Ann Coulter</h4>
            <div>Those hips don't lie.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>